.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar ul li a {
  background-color: #282c34;
  color: whitesmoke;
  font-weight: bold;
  font-size: 0.8em;
}

.page {
  text-align: left;
  padding-top: 0.5em;
}
